.fixed.bottom-left,
.fixed.bottom-right {
    position: fixed;
    bottom: 1em;
}
.fixed.bottom-right {
    right: 1em;
}
.fixed.bottom-left {
    left: 1em;
}
.chip {
    cursor: pointer;
}
.preloader-wrapper {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
