body {
    height: 100vh;
    & .navbar {
        height: 10vh;
    }
    main {
        flex: 1 0 auto;
        aside {
            height: 20%;
            @media screen and (min-width: 768px) {
                & {
                    height: 100%;
                }
            }
        }
        .clearfix.d-inline-block {
            margin-bottom: -0.4em;
        }
        .border {
            box-sizing: border-box;
        }
    }
}

.case {
    height: 24vh;
    width: 22vh;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    @media screen and (orientation: portrait) {
        & {
            height: 30vw;
            width: 30vw;
        }
    }
    &.circle {
        background-image: url(./../assets/circle.png);
    }
    &.cross {
        cursor: default;
        background-image: url(./../assets/cross.png);
    }
}
