/**
 * Cover portrait
 * @author seeren <webmaster@seeren.fr>
 * @project javascript-formation-initiation
 * @package cover
 * @version 1.1.1
 */
.cover-content {
    background-size: auto 120%;
    padding: 0 5%;
    width: 90%;
}
.cover-content h2 a {
    max-width: 80%;
}