/**
 * Main container
 * @author seeren <webmaster@seeren.fr>
 * @project javascript-formation-initiation
 * @package main
 * @version 1.1.1
 */
@font-face {
    font-family: "roboto";
    src: url("../font/roboto-regular.eot");
    src: local("☺"), url("../font/roboto-regular.woff") format("woff"), url("../font/roboto-regular.ttf") format("truetype");
}
@font-face {
    font-family: "roboto bold";
    src: url("../font/roboto-bold.eot");
    src: local("☺"), url("../font/roboto-bold.woff") format("woff"), url("../font/roboto-bold.ttf") format("truetype");
}
@font-face {
    font-family: "roboto black";
    src: url("../font/roboto-black.eot");
    src: local("☺"), url("../font/roboto-black.woff") format("woff"), url("../font/roboto-black.ttf") format("truetype");
}
@font-face {
    font-family: "roboto light";
    src: url("../font/roboto-light.eot");
    src: local("☺"), url("../font/roboto-light.woff") format("woff"), url("../font/roboto-light.ttf") format("truetype");
}
@font-face {
    font-family: "roboto thin";
    src: url("../font/roboto-thin.eot");
    src: local("☺"), url("../font/roboto-thin.woff") format("woff"), url("../font/roboto-thin.ttf") format("truetype");
}
@font-face {
    font-family: "roboto italic";
    src: url("../font/roboto-italic.eot");
    src: local("☺"), url("../font/roboto-italic.woff") format("woff"), url("../font/roboto-italic.ttf") format("truetype");
}
html {
    background: #f7f7f7;
    color: #212121;
    font-family: "roboto", sans-serif;
    font-size: 1em;
}

body {
    overflow-x: hidden;
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
h3, h4 {
    font-size: 1.5em;
}
h4 {
    font-family: "roboto black", sans-serif;
    text-align: left;
}
h1, h2, h3, h4 {
    font-weight: normal;
    letter-spacing: .2em;
    margin: 0;
    padding: 1em 0;
}
h1, h2, h3 {
    color: #ffffff;
    font-family: "roboto thin", sans-serif;
    text-align: center;
}
h1 span, h2 span, h3 span {
    display: block;
    font-size: .5em;
    margin: 0 0 2em;
}
/**
 * Sommaire
 * @author seeren <webmaster@seeren.fr>
 * @project javascript-formation-initiation
 * @package sommaire
 * @version 1.1.1
 */
#summary {
    background: #ff5c77;
    margin: 0;
    padding: 1em 20%;
}
#summary a {
    display: block;
    text-decoration: none;
    transition: background .25s;
}
#summary a:hover,
#summary .summary-chapitre a:hover {
    background-color: #e6e6e6 !important;
    color: #f36a81 !important;
}
#summary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#summary .summary-partie a {
    color: #ffffff;
    font-family: "roboto thin", sans-serif;
    font-size: 1.75em;
    font-style: italic;
    padding: .5em 10%;
    text-align: center;
    width: 80%;
}
#summary .summary-chapitre a {
    background: #ffffff;
    color: #66004d !important;
    font-family: "roboto bold", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    padding: 1em 10%;
    text-align: left;
}
#summary .summary-partie {
    margin: 0 0 1em;
}
#summary .summary-chapitre li a {
    background-color: #f36a81;
    background-image: url(../image/list.png);
    background-repeat: no-repeat; 
    background-position: 12.5% 50%;
    color: #ffffff !important;
    font-family: "roboto", sans-serif;
    font-size: 1em;
    padding: .5em 20%;
    width: 60%;
}
